.h2{
	text-align: center;color: #0eb493;font-size: 34px;font-weight: 800;padding-top: 30px;
}
.hmain{
	margin-top: 40px;margin-bottom: 40px;
}
.servicepic{
	
}
.serviceh3{
	margin-top: 0px;
    
}
.service{
	float: left;
}
.service1{
margin-left: 60px;
}
.servicep{
	text-align: justify;

}
.section{
	padding-top: 100px;padding-bottom: 100px;
}